*{
font-family: 'Arsenal-Regular';

}
}
@font-face{
font-family: 'Arsenal-Regular';
src: url('../fonts/arsenal-regular.eot'); /* IE 9 Compatibility Mode */
src: url('../fonts/arsenal-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
url('../fonts/arsenal-regular.woff2') format('woff2'), /* Super Modern Browsers */
url('../fonts/arsenal-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
url('../fonts/arsenal-regular.ttf') format('truetype'), /* Safari, Android, iOS */
url('../fonts/arsenal-regular.svg#arsenal-regular') format('svg'); /* Chrome < 4, Legacy iOS */

}






body{
  margin: 0px;
}

header{
  position: fixed;
  z-index: 1000;
  background: yellow;
  width: 100%;
  height: 8vh;
  padding-left: 2vw;
  padding-right:2vw;
  display: flex;
  vertical-align:middle

}

.main-content
{
display: flex;
flex-direction: column;
width: 94%;
cursor: none;
height:auto;
margin-right: auto;
margin-left: auto;
}

#logo-foto{
  width: 140px;
  height: 70px;
}

#menu-header-logo{
  padding-bottom: 1vh;
  padding-left: 3vw;
  padding-right:3vw;
  justify-content: center;
  vertical-align:middle;
 display: block;
}
#silk-header{
text-decoration: none;
color: black
}

.menu-header{
padding-top: 1vh;

  padding-bottom: 1vh;
  padding-left: 3vw;
  padding-right:3vw;
  justify-content: center;
  vertical-align:middle;
  transition: 1s;
}

.menu-header:hover{
  background: red ;
  color: white;
}

@media screen and (max-width: 800px){
  #menu-header-logo{
    display: none;
  }
}