*{
font-family: 'Roboto Condensed', sans-serif;

}









body{
  margin: 0px;
}

header{
  position: fixed;
  z-index: 1000;

  width: 100%;
  height: 8vh;
  padding-left: 2vw;
  padding-right:2vw;
  display: flex;
  vertical-align:middle;
border-bottom:1px solid black;

font-size: calc(1vw + 3px);
justify-content: center;
}

.main-content
{
display: flex;
flex-direction: column;
width: 94%;
cursor: none;
height:auto;
margin-right: auto;
margin-left: auto;
}

#logo-foto{
  width: 120px;
  height: 70px;
}

#menu-header-logo{
  padding-bottom: 1vh;
  padding-left: 0vw;
  padding-right:3vw;
  justify-content: center;
  vertical-align:middle;
 display: block;
}
#silk-header{
text-decoration: none;
color: black
}

.menu-header{
padding-top: 1vh;

  padding-bottom: 1vh;
  padding-left: 3vw;
  padding-right:3vw;
  justify-content: center;
  vertical-align:middle;
  transition: 1s;

}

#header-menu-name{
    padding-left: 20vw;
     justify-content: center;
  vertical-align:middle;
}

.menu-header:hover{
  background: red ;
  color: white;
}

@media screen and (max-width: 800px){
  #menu-header-logo{
    display: none;
  }
   header{
    font-size: 3vw;
  }
  #header-menu-name{
        padding-left: 12vw;
  }
}




@media screen and (min-width: 1300px){
#logo-foto{
  width: 180px;
  height: 100px;
}
}

@media screen and (max-width: 800px){
